    body {
      margin: 1rem auto;
      padding: 2rem;
    }

    /* .btn {
      font-weight: bold;
      font-family: var(--acari-sans-regular);
      background: #3f4464;
      border: none;
      border: 1px solid #FFC861;
      border-radius: 5px;
      color: white;
    }
    .btn:disabled{
      color: gray;
      background-color:#202020 ;
    } */

    header {
      width: 50%;
      margin: 1em auto;
    }

    main {
      margin: 0px auto;
      display: flex;
      flex-direction: column;
    }

    #statement {
      background-color: white;
      color: black;
      border: 1px solid black;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 5px gray;
      padding: 1rem;
      font-size: medium;
      text-align: left;
      margin: 1rem 0px;
      min-height: 2em;
      text-wrap: balance
    }

    code {
      display: flex;
      justify-content: center;
      background: #202020;
      color: #ffc857;
      padding: 5px;
      border-radius: 5px;
    }

    #explanation {
      padding: 1rem;
      text-align: center;
      font-size: initial;
    }

    #options {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    button {
      padding: 0.5rem;
      font-size: medium;
      border-radius: 5px;
      margin: 5px 0;
    }

    #intro {
      padding: 0rem;
    }


    .correct {
      background-color: lightgreen;
    }

    .incorrect {
      background-color: lightpink;
    }

    .points {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;

      border: 1px solid var(--yellow);
      padding: 10px;
      border-radius: 10px;
    }

    .points p {
      margin: 0;
    }


    @media (min-width: 800px) {
      #statement {
        background-color: white;
        color: black;
        font-size: x-large;
      }

      body {
        padding: 3rem;
      }

      main {
        min-width: 25rem;
        max-width: 50%;

      }

      #explanation {
        font-size: inherit;
      }
    }